<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Главная страница -->
    <section id="home-page" class="home-page">
        <header class="header-home-page">
            <div class="profile">
                <a href="#"><img src="images/profimg.jpg" class="profile-image"></a>
                <div class="profile-text">
                    <p class="hello-text">Привет, Дарья!</p>
                    <p class="love-details">С любовью к деталям</p>
                </div>
            </div>
        </header>

        <main class="home-main-content">
            <div class="search-container">
                <form class="search-form" action="#" method="get">
                  <div class="input-wrapper">
                    <img src="images/search.svg" alt="Search Icon" class="search-icon">
                    <input type="text" name="search" placeholder="Поиск" class="search-input">
                  </div>
                </form>
                <a href="#" class="clear-search">
                  <img src="images/filter.svg" alt="Clear Icon" class="clear-icon">
                </a>
            </div>                 

            <h1 class="home-title">Позаботься<br> о своей коже уже сегодня!</h1>
            
            <div class="actions-grid">
                <a href="#" class="action-item full-width">Проверить средство <img src="images/arrow-right.svg" alt="→" class="arrow-icon"></a>
                <a href="#" class="action-item narrow-tall">Сравнить составы <img src="images/arrow-right.svg" alt="→" class="arrow-icon"></a>
                <div class="right-column">
                    <a href="#" class="action-item wide-short action-item-expert">Консультация<br> у эксперта <img src="images/arrow-right.svg" alt="→" class="arrow-icon"></a>
                    <a href="#" class="action-item wide-short action-item-favorite">Избранное <img src="images/arrow-right.svg" alt="→" class="arrow-icon"></a>
                </div>
            </div>                                

            <div class="expert-section">
                <div class="expert-header">
                    <h2>Наши эксперты</h2>
                    <a href="#"><img src="images/arrow-right.svg" alt="Иконка стрелки" class="arrow-icon"></a>
                </div>
                <div class="experts-list">
                    <a href="#" class="expert-card expert-card1">
                        <img src="images/doctor-man.png">
                        <h3 class="expert-specialty">Врач-дерматолог</h3>
                        <p class="expert-name">Дмитрий</p>
                        <p class="expert-experience">Стаж работы: 23 года</p>
                    </a>
                    <a href="#" class="expert-card expert-card2">
                        <img src="images/doctor-women.png">
                        <h3 class="expert-specialty">Врач-косметолог</h3>
                        <p class="expert-name">Елена</p>
                        <p class="expert-experience">Стаж работы: 15 лет</p>
                    </a>
                    <a href="#" class="expert-card expert-card3">
                        <img src="images/doctor-men2.png">
                        <h3 class="expert-specialty">Врач-аллерголог</h3>
                        <p class="expert-name">Константин</p>
                        <p class="expert-experience">Стаж работы: 8 лет</p>
                    </a>
                </div>
            </div>

            <div class="cosmetics-section">
                <div class="cosmetics-header">
                    <h2>Безопасная косметика</h2>
                    <a href="#"><img src="images/arrow-right.svg" alt="Иконка стрелки" class="arrow-icon"></a>
                </div>
                <div class="cosmetics-categories">
                    <button class="category-btn">Тональные крема</button>
                    <button class="category-btn">Шампуни</button>
                    <button class="category-btn">Хайлайтеры</button>
                    <button class="category-btn">Крема</button>
                    <button class="category-btn">Подводки</button>
                    <button class="category-btn">Помады</button>
                    <button class="category-btn">Глиттеры</button>
                    <button class="category-btn">Бронзеры</button>
                    <button class="category-btn">Пудры</button>
                    <button class="category-btn">Румяна</button>
                </div>
            </div>

            <div class="checked-products">
                <div class="checked-products-header">
                    <h2>Вы проверяли</h2>
                    <a href="#"><img src="images/arrow-right.svg" alt="Иконка стрелки" class="arrow-icon"></a>
                </div>
                <div class="products-list">
                    <div class="product-card">
                        <img class="img-cosmetics" src="images/krem.png" alt="Изображение косметики">
                        <a href="#" class="like"><img class="img-like" src="images/like.svg" alt="Иконка лайка"></a>
                        <div class="product-details">
                            <h4 class="product-name">Крем для лица</p>
                            <p class="product-description">The Act с витамином C</p>
                            <p class="safety-rating">Безопасность: 89%</p>
                        </div>           
                    </div>
                    <div class="product-card">
                        <img class="img-cosmetics" src="images/rumina.png" alt="Изображение косметики">
                        <a href="#" class="like"><img class="img-like" src="images/like.svg" alt="Иконка лайка"></a>
                        <div class="product-details">
                            <h4 class="product-name">Рассыпчатые румяна для лица</p>
                            <p class="product-description">Belka mineral</p>
                            <p class="safety-rating">Безопасность: 100%</p>
                        </div>           
                    </div>
                    <div class="product-card">
                        <img class="img-cosmetics" src="images/tonal.png" alt="Изображение косметики">
                        <a href="#" class="like"><img class="img-like" src="images/like.svg" alt="Иконка лайка"></a>
                        <div class="product-details">
                            <h4 class="product-name">Тональная основа для лица</p>
                            <p class="product-description">Artdeco Perfect matte serum foundation</p>
                            <p class="safety-rating">Безопасность: 68%</p>
                        </div>           
                    </div>
                </div>
            </div>
        </main>       
    </section>

    <section id="personal-account" class="personal-account desactive-page">
        <header class="header-personal-account">
            <a href="#"><img src="images/arrow-left.svg" alt="Иконка стрелки" class="arrow-icon arrow-icon-left"></a>
            <h2 class="header-personal-account-title">Личный кабинет</h2>
        </header>
        <main class="personal-account-content">
            <div class="user-info">
                <img src="images/profimg.jpg" class="profile-image">
                <div class="profile-text">
                    <p class="hello-text">Дарья</p>
                    <p class="love-details">+7 982 912 87 35</p>
                </div>
                <button class="change-user-info">Изменить</button>
            </div>
            <div class="notification">
                <h3>Уведомления</h3>
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox">
                    <div class="toggle-switch"></div>
                </label>
            </div>
            <div class="language">
                <h3>Язык</h3>
                <a href="#" class="change-language">Русский</a>
            </div>
            <div class="story-analize">
                <h3>История анализа</h3>
                <a href="#" class="arrow-icon-profile"><img src="images/arrow-right.svg" alt="Иконка стрелки" class="arrow-icon"></a>
            </div>
            <div class="reactions-section">
                <div class="reactions-header">
                    <h3>Реакции (1):</h3>
                    <a href="#" class="redact">Редактировать</a>
                </div>
                <div class="reactions-list">
                    <p>Аллергия</p>
                </div>
            </div>
            <div class="allergens-section">
                <div class="reactions-header">
                    <h3>Аллергены (8):</h3>
                    <a href="#" class="redact">Редактировать</a>
                </div>
                <ul class="allergens-list">
                    <li>Парабены</li>
                    <li>Протеины</li>
                    <li>Эфирные масла</li>
                    <li>Красители</li>
                    <li>Фотосенсибилизаторы</li>
                    <li>Сульфаты</li>
                    <li>Ароматизаторы</li>
                </ul>
            </div>
            <div class="support-section">
                <h3>Справка и поддержка</h3>
                <a href="#" class="arrow-icon-profile"><img src="images/arrow-right.svg" alt="Иконка стрелки" class="arrow-icon"></a>
            </div>
            <div class="logout-section">
                <h3>Выйти</h3>
                <a href="#" class="arrow-icon-profile"><img src="images/logout.svg" alt="Иконка стрелки"></a>
            </div>
        </main>
    </section>

    <section id="favorite" class="favorite desactive-page">
        <header class="favorite-header">
            <a href="#"><img src="images/arrow-left.svg" alt="Иконка стрелки" class="arrow-icon arrow-icon-left"></a>
            <div class="favorite-header-title">Избранное</div>
        </header>
        <main class="favorite-content">
            <form class="search-form search-form-favorite" action="#" method="get">
                <div class="input-wrapper">
                <img src="images/search.svg" alt="Search Icon" class="search-icon">
                <input type="text" name="search" placeholder="Поиск по избранному" class="search-input">
                </div>
            </form>
            <div class="cards-container">
                <div class="card">
                    <img src="images/trashcan.svg" alt="Удалить" class="delete-icon">
                    <h4 class="product-name">Крем для лица</h4>
                    <p class="product-description">The Act с витамином C</p>
                    <div class="safety">Безопасность: 89%</div>
                    <div class="card-bottom">
                        <img src="images/krem.png" alt="The Act с витамином C" class="product-thumb">
                        <div class="card-description">
                            <div class="ingredients">
                                Aqua (Water), Caprylic/Capric Triglyceride, Cetearyl Olivate, Sorbitan Olivate, Coco-Caprylate/Caprate, Glyceryl Stearate, Ethylhexyl Stearate, Simmondsia Chinensis (Jojoba) Seed Oil, Ascorbyl Tetraisopalmitate, Glycerin, Ceramide NP, Ceramide AP, Ceramide EOP, Phytosphingosine, Cholesterol, Trehalose, Persea Gratissima (Avocado) Fruit Extract, Rubus Chamaemorus (Cloudberry) Fruit Extract, Centaurea Cyanus (Cornflower) Flower Extract, Citrus Sinensis (Orange) Peel Extract, Vitis Vinifera (Grape) Seed Extract, Betaine, Allantoin, Linoleic Acid, Linolenic Acid, Rosmarinus Officinalis (Rosemary) Extract, Tocopheryl Acetate, Retinyl Acetate, Sodium Acrylate/Sodium Acryloyldimethyl Taurate Copolymer, Sodium Lauroyl Lactylate, Carbomer, Xanthan Gum, Phenoxyethanol, Ethylhexylglycerin, Fragrance, Citric Acid, Tetrasodium Glutamate Diacetate.
                            </div>
                            <div class="analysis-result">
                                <p>Результат анализа</p>
                                <img src="images/white-right-arrow.svg" alt="Стрелка" class="arrow-icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="images/trashcan.svg" alt="Удалить" class="delete-icon">
                    <h4 class="product-name">Рассыпчатые румяна для лица</h4>
                    <p class="product-description">Belka mineral</p>
                    <div class="safety">Безопасность: 100%</div>
                    <div class="card-bottom">
                        <img src="images/rumina.png" alt="Belka mineral" class="product-thumb">
                        <div class="card-description">
                            <div class="ingredients">
                                Mica, Boron Nitride, Magnesium Stearate, [+/- Iron Oxides (77492, 77491), Manganese Violet (77742), Titanium Dioxide (77891), Carmine (75470)].
                            </div>
                            <div class="analysis-result">
                                <p>Результат анализа</p>
                                <img src="images/white-right-arrow.svg" alt="Стрелка" class="arrow-icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="images/trashcan.svg" alt="Удалить" class="delete-icon">
                    <h4 class="product-name">Тональная основа для лица</h4>
                    <p class="product-description">Artdeco Perfect matte serum foundation</p>
                    <div class="safety">Безопасность: 68%</div>
                    <div class="card-bottom">
                        <img src="images/tonal.png" alt="Artdeco Perfect" class="product-thumb">
                        <div class="card-description">
                            <div class="ingredients">
                                Aqua (water), dimethicone, trimethylsiloxysilicate, isohexadecane, synthetic fluorphlogopite, butylene glycol, caprylyl dimethicone ethoxy glucoside, methyl trimethicone, sorbitan isostearate, vinyl dimethicone/methicone silsesquioxane crosspolymer, polysilicone-11, aluminum/magnesium hydroxide stearate, sodium chloride, phenoxyethanol, caprylic/capric triglyceride, glycerin, potassium sorbate, sodium dehydroacetate, tocopheryl acetate, parfum (fragrance), lauryl dimethicone, phytic acid, solanum melongena (eggplant) fruit extract, rosa hybrid flower extract, geraniol, methyl benzoate, citral, benzyl salicylate, benzyl benzoate, linalool, benzyl alcohol, citronellol, hydroxycitronellal, ci 77491 (iron oxides), ci 77492 (iron oxides), ci 77499 (iron oxides), ci 77891 (titanium dioxide).
                            </div>
                            <div class="analysis-result">
                                <p>Результат анализа</p>
                                <img src="images/white-right-arrow.svg" alt="Стрелка" class="arrow-icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>

    <section id="experts" class="experts desactive-page">
        <header class="experts-header">
            <a href="#"><img src="images/arrow-left.svg" alt="Иконка стрелки" class="arrow-icon arrow-icon-left"></a>
            <div class="experts-header-title">Поиск</div>
        </header>
        <main class="experts-content">
            <div class="search-container experts-search-container">
                <form class="search-form" action="#" method="get">
                  <div class="input-wrapper">
                    <img src="images/search.svg" alt="Search Icon" class="search-icon">
                    <input type="text" name="search" placeholder="Поиск эксперта" class="search-input">
                  </div>
                </form>
                <a href="#" class="clear-search">
                  <img src="images/filter.svg" alt="Clear Icon" class="clear-icon">
                </a>
            </div>
            <p class="first-cons">Чтобы получить консультацию впервые,<br> необходимо выбрать эксперта</p>
            <div class="cards-container">
                <div class="card card1">
                    <h4 class="product-name">Врач-косметолог</h4>
                    <p class="product-description">Елена</p>
                    <div class="work-experience">Стаж работы: 15 лет</div>
                    <div class="card-bottom">
                        <img src="images/doctor-women.png" alt="Елена" class="profile-image profile-image-exp">
                        <div class="card-description">
                            <div class="ingredients">
                                Работала в клиниках в разных странах, включая Францию и Италию;
                                Организует бесплатные мастер-классы для женщин из неблагополучных семей, обучая их основам ухода за собой;
                                Участвует в клинических исследованиях новых препаратов и технологий для улучшения процедур.
                            </div>
                            <div class="analysis-result">
                                <p>Подробнее</p>
                                <img src="images/white-right-arrow.svg" alt="Стрелка" class="arrow-icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card2">
                    <h4 class="product-name">Врач-дерматолог</h4>
                    <p class="product-description">Дмитрий</p>
                    <div class="work-experience">Стаж работы: 23 года</div>
                    <div class="card-bottom">
                        <img src="images/doctor-man.png" alt="Belka mineral" class="profile-image profile-image-exp">
                        <div class="card-description">
                            <div class="ingredients">
                                Разработал уникальную методику терапии экземы, которая продемонстрировала 85% эффективность у пациентов;
                            </div>
                            <div class="analysis-result">
                                <p>Подробнее</p>
                                <img src="images/white-right-arrow.svg" alt="Стрелка" class="arrow-icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card3">
                    <h4 class="product-name">Врач-аллерголог</h4>
                    <p class="product-description">Константин</p>
                    <div class="work-experience">Стаж работы: 8 лет</div>
                    <div class="card-bottom">
                        <img src="images/doctor-men2.png" alt="Artdeco Perfect" class="profile-image profile-image-exp">
                        <div class="card-description">
                            <div class="ingredients">
                                Специализируется на лечении аллергий на пищевые продукты;
                                Провел несколько исследований, посвящённых влиянию экологических факторов на развитие аллергий у детей;
                                Внедрил в свою практику метод иммунотерапии для лечения хронических аллергий, что позволило многим её пациентам избавиться от симптомов.
                            </div>
                            <div class="analysis-result">
                                <p>Подробнее</p>
                                <img src="images/white-right-arrow.svg" alt="Стрелка" class="arrow-icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>

    <section id="messages" class="messages desactive-page">
        <header class="messages-header">
            <a href="#"><img src="images/arrow-left.svg" alt="Иконка стрелки" class="arrow-icon arrow-icon-left"></a>
            <div class="messages-header-title">Чаты</div>
        </header>
        <main class="favorite-content">
            <form class="search-form search-form-favorite" action="#" method="get">
                <div class="input-wrapper">
                <img src="images/search.svg" alt="Search Icon" class="search-icon">
                <input type="text" name="search" placeholder="Поиск" class="search-input">
                </div>
            </form>
            <div class="chats-list">
                <div class="chat">
                    <div class="expert-chat">
                        <img src="images/doctor-man.png" class="exp-image">
                        <div class="profile-text">
                            <p class="name-exp">Дмитрий</p>
                            <p class="last-message">Спасибо за помощь!</p>
                        </div>
                    </div>
                    <img src="images/doublegal.svg" class="chek-mess">
                    <time class="time">15:30</time>
                </div>
                <div class="chat">
                    <div class="expert-chat">
                        <img src="images/doctor-men2.png" class="exp-image">
                        <div class="profile-text">
                            <p class="name-exp">Константин</p>
                            <p class="last-message">Хорошо, спасибо</p>
                        </div>
                    </div>
                    <img src="images/gal.svg" class="chek-mess">
                    <time class="time">12:14</time>
                </div>
            </div>
        </main>
    </section>

    <section id="expert1" class="expert1 desactive-page">
        <header class="expert1-header">
            <a href="#"><img src="images/arrow-left.svg" alt="Иконка стрелки" class="arrow-icon arrow-icon-left"></a>
            <div class="expert1-header-title">Эксперт</div>
        </header>
        <main class="expert1-content">
            <div class="profile profile-exp1">
                <img src="images/doctor-man.png" class="profile-image">
                <div class="profile-text">
                    <p class="hello-text">Дмитрий</p>
                    <p class="love-details">Врач-дерматолог</p>
                </div>
            </div>
            <div class="education">
                <h3>Образование:</h3>
                <div class="documents">
                    <h4>Документы</h4>
                    <p>Проверены</p>
                    <a href="#" class="arrow-icon-profile"><img src="images/arrow-right.svg" alt="Иконка стрелки" class="arrow-icon arrow-icon-documents"></a>
                </div>
            </div>
            <div class="work-experience-title">
                <h3>Стаж работы:</h3>
                <h4>23 года</h4>
            </div>
            <div class="facts">
                <h3>Интересные факты:</h3>
                <ul class="facts-list">
                    <li>Разработал уникальную методику терапии экземы, которая продемонстрировала 85% эффективность у пациентов;</li>
                    <li>Опубликовал более 20 статей в международных медицинских журналах;</li>
                    <li>Внедрил новую программу для пациентов с псориазом, которая помогла 200 людям достичь ремиссии.</li>
                </ul>
            </div>
            <button class="get-cons">Получить консультацию</button>
        </main>
    </section>

    <footer class="mobile-footer">
        <nav class="footer-nav">
          <button class="footer-button footer-button-home active-footer-button">
            <img src="images/white-home.svg" alt="Главная" class="footer-icon">
          </button>
          <button class="footer-button footer-button-mess">
            <img src="images/purple-comment.svg" alt="Сообщения" class="footer-icon">
          </button>
          <button class="footer-button footer-button-photo">
            <img src="images/purple-photo.svg" alt="Фото" class="footer-icon">
          </button>
          <button class="footer-button footer-button-like">
            <img src="images/purple-like.svg" alt="Лайк" class="footer-icon">
          </button>
          <button class="footer-button footer-button-profile">
            <img src="images/purple-profile.svg" alt="Личный кабинет" class="footer-icon">
          </button>
        </nav>
    </footer>

    <script src="script.js"></script>
</body>
</html>