@import url('./styles/home-page.css');
@import url('./styles/footer.css');
@import url('./styles/modal-filter.css');
@import url('./styles/modal-del.css');
@import url('./styles/toggle.css');
@import url('./styles/personal-acc.css');
@import url('./styles/help-and-sup.css');
@import url('./styles/favorite.css');
@import url('./styles/safe-cosmetics.css');
@import url('./styles/analize-story.css');
@import url('./styles/experts.css');
@import url('./styles/message.css');
@import url('./styles/any-exp.css');
@import url('./styles/feedback.css');
@import url('./styles/modal-feedback.css');
@import url('./styles/analize-result.css');
@import url('./styles/analize-text-and-photo.css');
@import url('./styles/analize.css');
@import url('./styles/component.css');
@import url('./styles/comparison-result.css');
@import url('./styles/comparison.css');
@import url('./styles/registration.css');
@import url('./styles/login.css');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 393px;
    color: #131313;
    margin: 0 auto;
    
}

.desactive-page {
    display: none;
}